@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Set the font family and size for the whole document using 'Inter' font.
*/
:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  
}

/*
If the font-variation-settings property is supported, use 'Inter var' font.
*/
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/*
Set the box model to border-box for all elements and reset padding and margin to 0.
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
Hide horizontal scrollbar on the html and body elements.
*/
html,
body {
  overflow-x: hidden;
}

/*
Set color and text decoration for all links.
*/
a {
  color: inherit;
  text-decoration: none;
}

/*
Style the slider component with a gradient image, blur effect, and animation.
*/
.slider {
  position: relative;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  animation-name: slider;
  animation-timing-function: linear;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  top: 150px;
}

/*
Style the gradient image used in the blurry images
*/
.gradient-image {
  position: absolute;
  background: linear-gradient(125deg, rgba(255, 255, 255, 0.5), rgb(255, 255, 255));
  border-radius: 68px;
  backdrop-filter: blur(25px);
  z-index: 10;
}

/*
Style the scores-gradient component with a gradient background, blur effect, and padding.
*/
.scores-gradient {
  background: 
  linear-gradient(325deg, rgba(255, 255, 255, 0.024) 18.54%, rgba(123, 245, 93, 0.108) 62.25%),
  linear-gradient(180deg, #ffffffd1 -2%, #151515 14%);
  border-radius: 68px;
  padding-top: 10%;
  backdrop-filter: blur(60px);
  padding-bottom: 12%;
  padding-left: 2%;
  padding-right: 2%;
  transform: translateY(-50px);
}

/*
Style the gradient text with a gradient background and transparent text.
*/
.gradient-text {
  background-image: linear-gradient(110deg, #fec05c80 20%, #d1251080, #b81edf80 102%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  
}

/*
Set font size, weight, and line height for the title.
*/
.title {
  font-size: 40px;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: 0px;
}

/*
Set font size, weight, and line height for the score title.
*/
.score-title {
  font-size: 42px;
  font-weight: 900;
  line-height: 46px;
  letter-spacing: 1px;
}

/*
Set font weight and letter spacing for paragraphs.
*/
p {
  font-weight: 300;
  letter-spacing: 1px;
}

/*
Style the tool with a box-shadow and transformation.
*/
.tool {
  box-shadow: 10px 25px 14px #c7c7c7;
  --tw-translate-y: -60px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  
}

/*
Set font size, weight, letter and line height for the score tools markup paragraph and score paragraph.
*/
.tools-markup-p, .score-p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

/******************************************* RESPONSIVE *******************************************/
/* Media query for screens with minimum width of 500px */
@media screen and (min-width: 500px) {
    /*Styles for the title element */
    .title {
      font-size: 58px;
      font-weight: 900;
      line-height: 52px;
      letter-spacing: 1px;
    }
    
    /* Styles for all p elements */
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 35.19px;
    }
  
    /* Styles for elements with the class "tools-markup-p" and "score-p" */
    .tools-markup-p .score-p {
      font-size: 19px;
      line-height: 45px;
      font-weight: 400;
      letter-spacing: .1px;
    }
  
}

/* Media query for screens with minimum width of 640px */
@media screen and (min-width: 640px) {
  /* Styles for the title element */
  .title {
    font-size: 75px;
    font-weight: 900;
    line-height: 85px;
    letter-spacing: -1px;
  }
  
  /* Styles for the score-title element */
  .score-title {
    font-size: 61px;
    line-height: 72px;
  }
  
  /* Styles for the slider element */
  .slider {
    top: 260px;
  }
  
  /* Styles for the scores-gradient element */
  .scores-gradient {
    transform: translateY(-80px);
  }
}

/* Media query for screens with minimum width of 768px */
@media screen and (min-width: 768px) {
  /* Styles for the title element */
  .title {
    font-size: 90px;
    line-height: 92.5px;
    letter-spacing: -3px;
  }
  
  /* Styles for the tool element */
  .tool {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

/* Media query for screens with minimum width of 1024px */
@media screen and (min-width: 1024px) {
  
  /* Styles for the score-title element */
  .score-title {
    line-height: 80px;
    font-size: 68px;
    font-weight: 900;
  }
  
  /* Styles for elements with the class "tools-markup-p" and "score-p" */
  .tools-markup-p, .score-p {
    font-size: 22px;
    line-height: 38.88px;
    font-weight: 400;
    letter-spacing: -.3px;
  }
  
  /* Styles for the scores-gradient element */
  .scores-gradient {
    padding-top: 6%;
  }
}

/* Media query for screens with minimum width of 1200px */
@media screen and (min-width: 1200px) {
  /* Styles for the title element */
  .title {
    font-size: 101px;
    line-height: 100.5px;
    letter-spacing: -3.5px;
  }
}

/* Media query for screens with minimum width of 1400px */
@media screen and (min-width: 1400px) {
  /* Styles for the title element */
  .title {
    font-size: 133px;
    line-height: 152.5px;
    font-weight: 900;
    letter-spacing: -.3rem
  }
  
  /* Styles for the tools markup paragraph */
  .tools-markup-p {
    font-size: 24px;
  }
  
  /* Styles for the score paragraph */
  .score-p {
    font-size: 26px;
    line-height: 42.12px;
  }
  
  /* Styles for the score title element */
  .score-title {
    line-height: 91.98px;
    font-size: 76px;
    font-weight: 900;
    letter-spacing: .2px;
  }
}

/******************************************* ANIMATIONS *******************************************/
/* Keyframe animation for the slider */
@keyframes slider {
  0% {
    right: -100%;
    opacity: 0;
  }
  
  5% {
    opacity: 1;
  }
  
  95% {
    opacity: .5;
  }
  
  100% {
    right: 100%;
    opacity: 0;
  }
}
